

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Thank You</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/style/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/static/style/input.css" rel="stylesheet">
    
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  </head>

  <body>
  <br>
  <h4>Thank you. Now please return to the survey. In the next question, enter "<font color=blue>xxx</font>" as your unique key.</h1>
  In case you lost it, <a href=http://yale.qualtrics.com/SE/?SID=SV_blnxiMztHQE9doV>here</a> is the link to return to the original survey!
  
  
  </body>
</html>